@media (max-width: 769px) {
#hello{
    display: none;
}
#notify{
    display: none;
}

#searchbar{
    width:300px;
}

#myChats{
    background-color: aliceblue;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
}

@media (min-width: 601px) and (max-width: 1024px) {
  .only-pc {
    display: none;
  }

  .only-tablet {
    display: block;
  }
}