@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-image: linear-gradient(to right bottom, white, rgb(221, 221, 221), white);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;      
    overflow: hidden;
}

*{
    font-family: "Poppins", sans-serif;
}

#leftBar{
     background-color: rgb(255, 255, 255);
    width: 80px;
    float: left;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0px 3px 0px 0px;
    border-color: rgba(0, 0, 0, 0.282);
    border-style: inset;
}

#homeImg{
    transition: 1s;
}

#homeImg:hover{
    padding: 10px;
    transition: 1s;
}

.option{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: rgb(233, 246, 255);
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover{
    background-color: rgb(225, 235, 241);
    cursor: pointer;
}

#mainNav{
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 50px;

    border-color: #09199392;
    border-width: 0px 0px 6px 0px;
    border-style: solid;
}

#hello{
   
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 0px;
}

#helloTime{
    color: rgb(7, 7, 98);
}

#helloName{
    color: rgb(49, 8, 173);
    font-size: 22px;
}

#searchbar{
    width: 500px;
    height: 50px;
    background-color: rgba(141, 255, 255, 0.496);
    border-radius: 20px ;
    border-color: brown;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#searchbar::placeholder{
    text-align: center;
}

#profile{
    display: flex;
    justify-content: center;
}

#userBtn, #notify{
    width: 30px;
    height: 30px;
    background-color: rgb(193, 233, 233);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

#userPfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main{
    background-color: white;
    width: 70px;
    float: left;
    border-color: aqua;
    border-width:  0px 3px 0px 0px;
    border-style: solid;
}


#communities{
    
    padding: 10px;
    width: 600px;
    height: 3000px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    
    overflow-y: scroll;
}

#communities::-webkit-scrollbar{
    background-color:  #09199300;
}

#community{
    padding: 10px;
    display:flex;
    flex-direction: row;
}


#community-icon{
    width: 50px;
    height: 50px;
    border-radius: 40%;
}

#community-icon:hover{
    width: 53px;
    height: 53px;
    cursor: pointer;

}
 
#community-name{
    margin-left: 10px;
    margin-top: 0px;
    background-color: rgb(12, 6, 63);
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    display: none;
}

